.biome-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.biome-image {
  width: 100%;
  object-fit: cover;
}
.biome-corps {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.biome-colonne-gauche {
  flex: 0 0 auto;
  width: 38%;
  display: flex;
  align-items: flex-start;
  margin-left: 128px;
  flex-direction: column;
}
.biome-image1 {
  width: 100%;
  object-fit: cover;
}
.biome-colonne-droite {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 52px;
  flex-direction: column;
}
.biome-texte-biome1 {
  color: #1f7314;
  margin-bottom: 32px;
  font-family: "Noto Sans", Calibri, sans-serif;
  
}
.biome-text {
  font-style: normal;
  font-weight: 900;
  font-family: "Noto Sans", Calibri, sans-serif;
}
.biome-text01 {
  font-weight: 900;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 24px;
}
.biome-text02 {
  color: #000000;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.biome-text03 {
  color: #000000;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.biome-text05 {
  color: #000000;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.biome-text07 {
  color: #000000;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.biome-text09 {
  font-style: normal;
  font-weight: 600;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.biome-text10 {
  color: #000000;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.biome-text12 {
  color: #000000;
  font-style: normal;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.biome-link {
  color: #2765d2;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.biome-link1 {
  color: #2765d2;
  margin-top: 12px;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.biome-texte-biome2 {
  margin-top: 32px;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.biome-text14 {
  color: #1f7314;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.biome-text18 {
  color: #1f7314;
  font-style: normal;
  font-weight: 600;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.biome-text21 {
  color: #1f7314;
  font-style: normal;
  font-weight: 600;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.biome-text29 {
  color: #1f7314;
  font-style: normal;
  font-weight: 600;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.biome-text33 {
  color: #1f7314;
  font-style: normal;
  font-weight: 600;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.biome-text37 {
  color: #1f7314;
  font-style: normal;
  font-weight: 600;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.biome-text39 {
  color: #1f7314;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.biome-retour {
  width: 100%;
  display: flex;
  margin-top: 48px;
  align-items: flex-start;
  padding-left: 64px;
}
.biome-button {
  color: transparent;
  display: flex;
  padding: 0px;
  border-width: 0px;
  border-radius: 0px;
  flex-direction: row;
  background-color: transparent;
}
.biome-link2 {
  display: contents;
}
.biome-image2 {
  height: 100%;
  object-fit: cover;
  text-decoration: none;
}
