.philologus-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.philologus-image {
  width: 100%;
  object-fit: cover;
}
.philologus-corps {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.philologus-colonne-gauche {
  flex: 0 0 auto;
  width: 38%;
  display: flex;
  align-items: flex-start;
  margin-left: 128px;
  flex-direction: column;
}
.philologus-image1 {
  width: 100%;
  object-fit: cover;
}
.philologus-colonne-droite {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 52px;
  flex-direction: column;
}
.philologus-texte-biome1 {
  color: #1f7314;
  margin-bottom: 32px;
  font-family: "Noto Sans", Calibri, sans-serif;
  
}
.philologus-text {
  font-style: normal;
  font-weight: 900;
  font-family: "Noto Sans", Calibri, sans-serif;
}
.philologus-text01 {
  font-weight: 900;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 24px;
}
.philologus-text02 {
  color: #000000;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.philologus-text03 {
  color: #000000;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.philologus-text05 {
  color: #000000;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.philologus-text07 {
  color: #000000;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.philologus-text09 {
  font-style: normal;
  font-weight: 600;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
  color: #1f7314;
}
.philologus-text10 {
  color: #000000;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.philologus-text12 {
  color: #000000;
  font-style: normal;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.philologus-link {
  color: #2765d2;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.philologus-texte-biome2 {
  margin-top: 32px;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.philologus-text14 {
  color: #1f7314;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.philologus-text18 {
  color: #1f7314;
  font-style: normal;
  font-weight: 600;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.philologus-text21 {
  color: #1f7314;
  font-style: normal;
  font-weight: 600;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.philologus-text29 {
  color: #1f7314;
  font-style: normal;
  font-weight: 600;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.philologus-text33 {
  color: #1f7314;
  font-style: normal;
  font-weight: 600;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.philologus-text37 {
  color: #1f7314;
  font-style: normal;
  font-weight: 600;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.philologus-text39 {
  color: #1f7314;
  font-family: "Noto Sans", Calibri, sans-serif;
  font-size: 18px;
}
.philologus-retour {
  width: 100%;
  display: flex;
  margin-top: 48px;
  align-items: flex-start;
  padding-left: 64px;
}
.philologus-button {
  color: transparent;
  display: flex;
  padding: 0px;
  border-width: 0px;
  border-radius: 0px;
  flex-direction: row;
  background-color: transparent;
}
.philologus-link2 {
  display: contents;
}
.philologus-image2 {
  height: 100%;
  object-fit: cover;
  text-decoration: none;
}
